{
		order rate_limit before basicauth
}

$DOMAIN_NAME {

    rate_limit {
        zone articles {
            match {
                method GET
                path /v1/articles
            }
            key {http.request.remote_ip}
            events 150
            window 1m
        }

        zone subs {
            match {
                method POST
                path /v1/subs
            }
            key {http.request.remote_ip}
            events 1
            window 30s
        }

        zone dynamic {
            key {http.request.remote_ip}
            events 60
            window 1m
        }

        jitter 0.2
    }

    handle {
        reverse_proxy $API_HOST:8080 {

            health_uri $API_HOST:8080/ping

            header_down +X-Content-Type-Options "nosniff"
            header_down +X-Frame-Options "deny"
            header_down +Referrer-Policy "origin-when-cross-origin"
     

        }        
    }

    log {
        output stdout
        format console
    }    
}