localhost {

    root * /var/www/html

    handle {
        reverse_proxy $APP_HOST:8080 {

            health_uri $APP_HOST:8080/ping

            header_down +X-Content-Type-Options "nosniff"
            header_down +X-Frame-Options "deny"
            header_down +Referrer-Policy "origin-when-cross-origin"

        }        
    }

    log {
        output stdout
        format console
    }    
}